$font-stack: Helvetica, sans-serif;
$primary-color: #192542;
$ltblue: #0f7ae5;
$xcred: #C8102E;

$handle-hover-bg-color: #0f7ae5;
$handle-color: #fff;
$handle-width: 348px; // Adjust to match the sidebar width
$transition-duration: 0.3s;
$z-index-handle: 1050;
$handle-bg-color: rgb(34, 34, 34);;
$darkgray: rgb(34, 34, 34);

::-webkit-scrollbar {
  display: none;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 2px;

}

#spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  //background-color: #fafafa66;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}


#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}



// Mixin for transitions
@mixin transition($property, $duration, $timing-function: ease-in-out) {
  transition: $property $duration $timing-function;
}

// Handle styles
.handle {
  position: fixed;
  left: 0;
  top: 50%;
  font-size: 1.1em;
  transform: translateY(-50%);
  background-color: $handle-bg-color;
  color: $handle-color;
  border: none;
  border-radius: 0 9px 9px 0;
  padding: 25px 10px 25px 7px;
  cursor: pointer;
  z-index: $z-index-handle;
  writing-mode: vertical-rl;
  letter-spacing: 2px;

  // Transition for smooth movement
  @include transition(left, $transition-duration, ease);


  // Hover effect
  &:hover {
    background-color: $handle-hover-bg-color;
  }

  // State when the sidebar is open
  &.open {
    left: $handle-width;
  }

}


// Sync handle with sidebar's animation classes
.uk-offcanvas {
  &.uk-open ~ #sidebar-handle {
    left: $handle-width;
  }
}



.uk-input, .uk-select, .uk-textarea {
  border-radius: 5px;
}

.tabulator {
  i {
    font-size: 160%;
    &.fa-circle-xmark {
      color: $xcred;
    }
  }
}

.form-actions {
  display: flex;
  flex-direction: row-reverse; /* Reverse the elements inside */
}

.room-heading, .location-heading {
  font-weight: bold;

  span {
    display: inline-block;
    color: $primary-color;
    &.uk-icon {
      margin-right: 5px;
      position: relative;
      top: -3px;
    }
    &.name {
      margin-right: 25px;
      font-weight: normal;
    }
  }
  span:first-child {
    //padding-left: 10px;
  }
  span:last-child {
    margin-right: 0;
  }
  span:hover {
    cursor: pointer;
  }

}




.nav-menu {
  list-style: none;
  padding: 0;
  .ik-icon {
    position: relative;
    top: -3px;
  }

  .location-item {
    font-size: 1.2em; // ~19px

    .location-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .location-name {
        font-weight: bold;
      }
    }
  }

  .building-list {
    margin-top: 0;
    list-style: none;
    padding-left: 0.5em; // Reduced indentation

    .building-item {
      font-size: 1em; // ~17px
      padding-bottom: 15px;

      p {
        margin: 0;
      }
      &:last-child a {
        color: $ltblue;
      }
      .add-location {
        font-size: 1.15em;
      }

      .building-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        margin-top: 15px;

        .building-name {
          font-weight: 600;
        }
      }
    }
  }

  .floor-list {
    list-style: none;
    padding-left: 0.75em; // Reduced indentation

    .floor-item {
      font-size: 1em; // ~14px, matching room size
      &.add-floor {
        padding-top: 5px;
        padding-bottom: 5px;

      }
      &:last-child a {
        color: $ltblue;
      }

      .floor-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .floor-name {
          padding-top: 15px;
          font-weight: 500;
        }
      }
    }

    h5 {
      font-size: 0.95em; // ~15px
      font-weight: bold;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  .room-list {
    list-style: none;
    padding-left: 1em; // Reduced indentation

    .room-item {
      font-size: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5em; // Spacing between room names
      margin-bottom: 0.5em; // Spacing between room names
      &.add-room {
        padding-top: 5px;
        padding-bottom: 5px;

      }
      &.add-room a {
        color: $ltblue;
      }


      .room-name {
        font-weight: normal;
      }

      .action-icon {
        margin-left: auto;
      }
    }
  }

  .action-icons, .action-icon {
    color: #777;
    margin-left: 0.5em;
    cursor: pointer;
    font-size: 1em; // ~16px, consistent size for tappable icons
  }

  .action-icons {
    display: flex;
    gap: 0.5em;
  }
}


label {
  display:block;
  margin-bottom: 7px;
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  outline: 0;
  background-color: #fff;
  color: #333;
  border-color: $ltblue;
  border-width: 3px;
}

#table_mode_nodata {
  padding: 10px 5px 0 5px;

  .uk-card-title {
    color: $primary-color;
  }
  .uk-card-body {
    p {
      font-size: 1.3em;
      text-align: left;
      line-height: 1.5em;    }
  }
}

#desktop-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 330px;
  z-index: 1000;
  overflow-y: auto;
  background: #333;
  border-right: 1px solid #ddd;
}

/* Add padding to main content to accommodate sidebar width on desktop */
@media (min-width: 960px) { /* Adjust breakpoint if needed */
  body #table_mode_view {
    //padding-left: 330px; /* Matches the sidebar width */
  }
}

.notes-area {
  margin-right: 20px;

  textarea.note {
    width: 100%;
    height: 100px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 7px 15px 9px 15px;
    font-size: 1.1em;
    color: #2a2a2a;
    margin-bottom: 11px;
    outline: none;

    display: block;
    overflow: visible;
    resize: none;
  }
}

input#qty {
  font-size: 193%;
  padding: 25px 0px 25px 4px;
  border: 2px solid #aaa;
  text-align: center;
}

.uk-navbar-container {
  .uk-icon {
    color: $primary-color;
    font-weight: bold;
  }
  .mobile-nav {
    li {
      a {
        flex-direction: column;
      }
    }
  }
}

.schedule-topper {

  div {
    background-color: $primary-color;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    text-align: left;
    p {
      line-height: 35px;
      padding-left: 5px;
      padding-right: 2px;
      font-size: 90%;
      &.heading {
        font-variant: all-small-caps;
        line-height: 32px;
        padding: 0 5px;
        font-size: 100%;
      }
    }

  }

}

#add-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#add-image + label {
  font-size: 0.875em;
  color: white;
  background-color: $ltblue;
  display: inline-block;
  //pointer-events: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 11px 0;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color, background-color, border-color;
}

#add-image:focus + label,
#add-image + label:hover {
  //background-color: red;
}

.image-frame {
  //width: 31%;
  //display: inline-block;
  //border: 1px solid $primary-color;
  //padding: 1px 1px;
  //border-radius: 2px;
  //margin-bottom: 5px;
}
.imagebg {
  width: 100%;
  height: 164px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#copy-project:hover,
#copy-room:hover {
  cursor: pointer;
}