$font-stack: Helvetica, sans-serif;
$primary-color: #192542;
$xcred: #C8102E;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}


.uk-input, .uk-select, .uk-textarea {
  border-radius: 5px;
}

.tabulator {
  i {
    font-size: 160%;
    &.fa-circle-xmark {
      color: $xcred;
    }
  }
}

.side-menus {

  .uk-nav-primary .uk-nav-sub, .smaller {
    font-size: 1.25rem;
    line-height: 1.5;
  }


  .manage-link {
    padding-top: 10px;
    font-size: 1.1rem;
  }
}


.form-actions {
  display: flex;
  flex-direction: row-reverse; /* Reverse the elements inside */
}