$font-stack: Helvetica, sans-serif;
$primary-color: #192542;
$xcred: #C8102E;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}


.uk-input, .uk-select, .uk-textarea {
  border-radius: 5px;
}

.tabulator {
  i {
    font-size: 160%;
    &.fa-circle-xmark {
      color: $xcred;
    }
  }

}
