@charset "UTF-8";
body {
  font: 100% Helvetica, sans-serif;
  color: #192542;
}

#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}

.uk-input, .uk-select, .uk-textarea {
  border-radius: 5px;
}

.tabulator i {
  font-size: 160%;
}
.tabulator i.fa-circle-xmark {
  color: #C8102E;
}

.form-actions {
  display: flex;
  flex-direction: row-reverse; /* Reverse the elements inside */
}

.room-heading span {
  display: inline-block;
  font-weight: bold;
  color: #192542;
}
.room-heading span:first-child {
  padding: 0 15px 0 10px;
}
.room-heading span:first-child::after {
  content: "»";
  padding-left: 20px;
  font-size: 20px;
}

#locations ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#locations .manage-link.add-floor i {
  float: right;
}
#locations h2, #locations h3, #locations h4 {
  text-transform: uppercase;
  font-size: 0.825rem;
  margin: 0;
  padding: 0;
  text-align: left;
}
#locations .location-item > h2 + a,
#locations .location-item > h3 + a,
#locations .location-item > h4 + a {
  font-size: 1rem;
  display: block;
  margin: 1rem 0;
  padding-left: 15px;
}
#locations .floor-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding-top: 10px;
  padding-left: 15px;
}
#locations .floor-item a:first-child {
  flex-grow: 1;
  text-align: left;
}
#locations .floor-item a:hover {
  text-decoration: none;
  cursor: default;
}
#locations .floor-item a {
  font-weight: bold;
}
#locations .room-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding-left: 30px;
}
#locations .room-item a:first-child {
  flex-grow: 1;
  text-align: left;
}
#locations .location-item,
#locations .floor-item,
#locations .room-item {
  margin: 1rem 0;
}
#locations .manage-link,
#locations .remove-link {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #555;
  text-decoration: none;
}
#locations .manage-link:hover,
#locations .remove-link:hover {
  color: #333;
}