body {
  font: 100% Helvetica, sans-serif;
  color: #192542;
}

#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}

.uk-input, .uk-select, .uk-textarea {
  border-radius: 5px;
}

.tabulator i {
  font-size: 160%;
}
.tabulator i.fa-circle-xmark {
  color: #C8102E;
}