::-webkit-scrollbar {
  display: none;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #192542;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 0 2px;
}

#spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  max-width: 768px;
  position: relative;
  margin: 0 auto;
}

.handle {
  position: fixed;
  left: 0;
  top: 50%;
  font-size: 1.1em;
  transform: translateY(-50%);
  background-color: rgb(34, 34, 34);
  color: #fff;
  border: none;
  border-radius: 0 9px 9px 0;
  padding: 25px 10px 25px 7px;
  cursor: pointer;
  z-index: 1050;
  writing-mode: vertical-rl;
  letter-spacing: 2px;
  transition: left 0.3s ease;
}
.handle:hover {
  background-color: #0f7ae5;
}
.handle.open {
  left: 348px;
}

.uk-offcanvas.uk-open ~ #sidebar-handle {
  left: 348px;
}

.uk-input, .uk-select, .uk-textarea {
  border-radius: 5px;
}

.tabulator i {
  font-size: 160%;
}
.tabulator i.fa-circle-xmark {
  color: #C8102E;
}

.form-actions {
  display: flex;
  flex-direction: row-reverse; /* Reverse the elements inside */
}

.room-heading, .location-heading {
  font-weight: bold;
}
.room-heading span, .location-heading span {
  display: inline-block;
  color: #192542;
}
.room-heading span.uk-icon, .location-heading span.uk-icon {
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.room-heading span.name, .location-heading span.name {
  margin-right: 25px;
  font-weight: normal;
}
.room-heading span:last-child, .location-heading span:last-child {
  margin-right: 0;
}

.nav-menu {
  list-style: none;
  padding: 0;
}
.nav-menu .ik-icon {
  position: relative;
  top: -3px;
}
.nav-menu .location-item {
  font-size: 1.2em;
}
.nav-menu .location-item .location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu .location-item .location-header .location-name {
  font-weight: bold;
}
.nav-menu .building-list {
  margin-top: 0;
  list-style: none;
  padding-left: 0.5em;
}
.nav-menu .building-list .building-item {
  font-size: 1em;
  padding-bottom: 15px;
}
.nav-menu .building-list .building-item p {
  margin: 0;
}
.nav-menu .building-list .building-item:last-child a {
  color: #0f7ae5;
}
.nav-menu .building-list .building-item .add-location {
  font-size: 1.15em;
}
.nav-menu .building-list .building-item .building-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 15px;
}
.nav-menu .building-list .building-item .building-header .building-name {
  font-weight: 600;
}
.nav-menu .floor-list {
  list-style: none;
  padding-left: 0.75em;
}
.nav-menu .floor-list .floor-item {
  font-size: 1em;
}
.nav-menu .floor-list .floor-item.add-floor {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-menu .floor-list .floor-item:last-child a {
  color: #0f7ae5;
}
.nav-menu .floor-list .floor-item .floor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu .floor-list .floor-item .floor-header .floor-name {
  padding-top: 15px;
  font-weight: 500;
}
.nav-menu .floor-list h5 {
  font-size: 0.95em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.nav-menu .room-list {
  list-style: none;
  padding-left: 1em;
}
.nav-menu .room-list .room-item {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.nav-menu .room-list .room-item.add-room {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-menu .room-list .room-item.add-room a {
  color: #0f7ae5;
}
.nav-menu .room-list .room-item .room-name {
  font-weight: normal;
}
.nav-menu .room-list .room-item .action-icon {
  margin-left: auto;
}
.nav-menu .action-icons, .nav-menu .action-icon {
  color: #777;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 1em;
}
.nav-menu .action-icons {
  display: flex;
  gap: 0.5em;
}

label {
  display: block;
  margin-bottom: 7px;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  outline: 0;
  background-color: #fff;
  color: #333;
  border-color: #0f7ae5;
  border-width: 3px;
}

#table_mode_nodata {
  padding: 10px 5px 0 5px;
}
#table_mode_nodata .uk-card-title {
  color: #192542;
}
#table_mode_nodata .uk-card-body p {
  font-size: 1.3em;
  text-align: left;
  line-height: 1.5em;
}

#desktop-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 330px;
  z-index: 1000;
  overflow-y: auto;
  background: #333;
  border-right: 1px solid #ddd;
}

/* Add padding to main content to accommodate sidebar width on desktop */
@media (min-width: 960px) { /* Adjust breakpoint if needed */ }
.notes-area {
  margin-right: 20px;
}
.notes-area textarea.note {
  width: 100%;
  height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 7px 15px 9px 15px;
  font-size: 1.1em;
  color: #2a2a2a;
  margin-bottom: 11px;
  outline: none;
  display: block;
  overflow: visible;
  resize: none;
}

input#qty {
  font-size: 193%;
  padding: 25px 0px 25px 4px;
  border: 2px solid #aaa;
  text-align: center;
}

.uk-navbar-container .uk-icon {
  color: #192542;
  font-weight: bold;
}
.uk-navbar-container .mobile-nav li a {
  flex-direction: column;
}

.schedule-topper div {
  background-color: #192542;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: left;
}
.schedule-topper div p {
  line-height: 35px;
  padding-left: 5px;
  padding-right: 2px;
  font-size: 90%;
}
.schedule-topper div p.heading {
  font-variant: all-small-caps;
  line-height: 32px;
  padding: 0 5px;
  font-size: 100%;
}

#add-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#add-image + label {
  font-size: 0.875em;
  color: white;
  background-color: #0f7ae5;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 11px 0;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}